/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Dosis:wght@800&family=Poppins:wght@700&family=Roboto+Serif:opsz,wght@8..144,300&family=Roboto+Slab:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Dosis:wght@800&family=Poppins&display=swap');

/*Cores*/
:root {
    --nav: rgba(174, 201, 224, 0.8);
	--background: #1b1bc2;

}

/* Reset */

body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	margin-top: 15vh;
}

body {
	background-image: url(img/fundo.png);
	background-size: cover;	
	color: whitesmoke;

}


/*Mudandoo comportamento de navegação do navbar*/
html{
	scroll-behavior: smooth;
	scroll-padding-top: 15em;
}

/* Mudando o header para Flex-box para alinhar o nav e o logo da empresa dentro do header. Também colocando os atributos position fixed, z-idex para deixar o navbar sempre no topo */
header {
	/*Organizando os itens dentro do header */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--nav);
	backdrop-filter: blur(25px);
	align-items: center;
	/*Deixando o header sempre no topo, mesmo quando rola a página */
	position: fixed;
	top: 0;
	z-index: 1000;
	/* Regras de layout*/
	padding: 2%;
	width: 100%;
	


}

/* Definido o tamanho do logo */
header img {
	max-height: 15vh;
	max-width: 15vw;
}

/* Flexbox dentro do flexbox pra organizar os itens dentro da ul*/
nav{
	position:relative ;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
}

/*Espaçamento do li */
nav li {
	padding-right: 1em;
	font-size: 1.3rem;	
}

nav li:last-child {
	margin-right: 0;
	padding-right: 6em;
	/* Remova a margem direita do último item */
}

/* div em volta do body excluindo o header */
main {
	margin: 0 auto;
	/* Centraliza o conteúdo */
	padding: 0 5%;
	/* Adiciona margem de sangria nas laterais */
	max-width: 85vw;
}

/* Mudando as config da fonte */
h2 {
	font-family: Roboto Slab;
	font-size: 2.7rem;
}

h3 {
	font-family: Roboto Slab;
	font-size: 2.0rem;
}

h4 {
	font-family: Roboto Slab;
	font-size: 1.3rem;
}

p {
	font-size: 18px;
	font-family: Poppins;
}
/* arrumando o tamanho da sections*/

section{
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 0;
}
/* Arrumando a primeira section para não tampada pelo header*/
#home {
	padding-top: 2em;
	
}

#historia{
	background-color: black;
	margin-top: 5rem;
}
.fotos {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 20px;
	max-width: 80vw;
	margin: 0 auto;
}

/* Imagem dos funcionarios */
.pessoas {
	height: 300px;
	width: auto;
}

.parceiros {
	width: 150px;
	height: auto;

}

#clientesParceiros {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: whitesmoke;
	margin-top: 2rem;
}

article a img{
	padding: 1em;
}
/*Ajustando a tabela */
table {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
	padding: 8px;
	border: 1px solid #ddd;

}

table tr:nth-child(even) {
	background-color: var(--nav);
}

table tr:hover {
	background-color: #ddd;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

a {
	text-decoration: none;
	font-family: Roboto Slab;
	font-size: 1.2em;
	color: whitesmoke;
}

a:hover {
	font-size: 1.4em;
}

footer {
	background-color: var(--background);
	font-size: 1.4em;
	text-align: center;
}